{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

{% block content %}
<div class="container mt-2 mb-3">
    <div class="row">
        <div class="col-lg">
            <h1>{% trans "Account Inactive" %}</h1>
        
            <p>{% trans "This account is inactive." %}</p>
        </div>
        <div class="col-lg">
            <article>
                <div>
                    <img src="https://res.cloudinary.com/dw8bdbhg0/image/upload/v1637436372/samples/blog/panama_mandala_3d_y5wiya.png"
                        alt="panama shape" class="img-fluid">
                </div>
            </article>
        </div>
    </div>
</div>

{% endblock %}
