{% extends 'base.html'%}
{% load static %}


{% block content %}


    
   <!-- videos -->
<div class="container text-center">

    <div class="videowrapper mt-5 mb-5">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/rgLO8YJqHZ0" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
    <div class="videowrapper mt-5 mb-5">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/fKSu1h-mhjI" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
    <div class="videowrapper mt-5 mb-5">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/dhKp1dtax48" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="videowrapper mt-5 mb-5">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/fO3h3cP8BSo" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
</div>
    
    
{% endblock content %}