{% extends 'base.html'%}
{% load static %}


{% block content %}


    
   <!-- videos -->
   <div class="container mb-5">
       <h3 class="mt-3 mb-3">
           Videos
       </h3>
       <div class="conatiner border-top border-3">
       <div class="row">
           <div class="col text-center mt-3 mb-3">
            <a href="Beta_videos_acid"><img src="{% static 'images/DSC05083.jpg' %}" class="img-fluid rounded w-75" alt="acid rock videos"></a>
           </div>
           <div class="col">
               <h5 class="mt-5">
                   Acid Rock Video Library
               </h5>
               <p>This is our video collection of the climbing we've been able to capture over the years. Enjoy.</p>
                   <a href="Beta_videos_acid">Access here.</a>
               
           </div>
       </div>
    </div>
   </div>
    
{% endblock content %}    
   