{% load static %}
<!-- footer -->
<footer class="bg-dark position-relative">
    <div class="container p-2">
        <div class="row align-items-center">
            <div class="col-lg-3 mt-2 mb-2">
        <a href="https://www.instagram.com/jungle_climb/" class="text-decoration-none text-warning">
            <i class="bi bi-instagram h5">Instagram</i>
        </a>
    </div>
    <div class="col-lg-3 mt-2 mb-2">
        <a href="https://www.youtube.com/channel/UCtyKSlXElOJB-Q5ToeJBgww" class="text-decoration-none text-warning">
            <i class="bi bi-youtube h5">Youtube</i>
        </a>
    </div>
    <div class="col-lg-3 mt-2 mb-2">
        <a href="{% url 'about_us' %}" class="text-decoration-none text-warning"><h5>About Us</h5></a>
    </div>
    </div>
    <div class="container">
        <a href="#" class="position-absolute bottom-0 end-0 p-3 text-decoration-none text-warning">
            <i class="bi bi-arrow-up-circle h1"></i>
        </a>
    </div>
    </div>
</footer>