{% extends 'base.html'%}
{% load static %}


{% block content %}



<!-- crags section -->
<section id="cragsection">
    <div class="container">
        <div id="cragsheader" class="p-1 p-md-3">
            <a href="cragsite" class="cragstitle text-decoration-none text-dark text-center">
                <h1>Panamá's Greatest Outdoors Climbing Repository</h1>
            </a>
            <h4 class="text-center">“Climbing is often group activity and it's always inspiring to see how other people, who share your passions, do things.”
                ― Fred Nicole</h4>
            <div class="row mx-auto text-center align-items-center text-decoration-none">
                <div class="col-md mb-2">
                    <button class="btn btn-danger btn-lg" type="button"><a href="cragsite" class="text-decoration-none text-light">CRAGS</a></button>
                </div>
            </div>
        </div>
    </div>
    <div>
        <img src="https://res.cloudinary.com/dw8bdbhg0/image/upload/v1723668512/samples/Cerme%C3%B1o/background_2_r0ybf0.png" class="img-fluid w-100" alt="rock">
    </div>

</section>
<!-- Quote -->

<section class="bg-warning text-dark p-1 p-md-3">
    <div class="container">
        <div class="text-center d-md-flex align-items-center">
            <h3 class="mb-3 mb-md-0 d-none d-md-block">
                "A life is perfect when you try everything."
            </h3>
            <p class="lead mb-3 mb-md-0 d-none d-md-block">
                 - David Lama
            </p>
        </div>
    </div>
</section>

<!-- Shop -->

<section id="cragsection">
    <div class="container">
        <div id="cragsheader" class="p-1 p-md-3">
            <a href="cragsite" class="cragstitle text-decoration-none text-dark text-center">
                <h1>Jungle Climb Merch</h1>
            </a>
            <h4 class="text-center">Check our shop with climbing accessories made by hand with sustainable materials. If you would like to support our project this is great way to show some love.</h4>
            <div class="row mx-auto text-center align-items-center text-decoration-none">
                <div class="col-md mb-2">
                    <button class="btn btn-danger btn-lg" type="button"><a href="https://cuanto.app/jungleclimb" class="text-decoration-none text-light">SHOP</a></button>
                </div>
            </div>
        </div>
    </div>
    <div>
        <img src="https://res.cloudinary.com/dw8bdbhg0/image/upload/v1723777702/samples/miscellaneous/chalkbags_taxj4r.png" class="img-fluid w-100" alt="rock">
    </div>

</section>
<!-- Contact Us -->
<section class="bg-success text-light p-1 p-md-3">
    <div class="container">
        <div class="text-center d-md-flex justify-content-between align-items-center">
            <h3 class="mb-3 mb-md-0 d-none d-md-block">
                Was the information on the site helpful?
            </h3>
            <p class="lead mb-3 mb-md-0 d-none d-md-block">
                Share your feedback!
            </p>
            
            <a href="{% url 'about_us' %}" class="btn btn-outline-warning btn-lg btn-block text-decoration-none">Contact Us</a>
        </div>
    </div>
    
</section>


{% endblock content %}