{% extends 'base.html'%}
{% load static %}


{% block content %}

<style> .errorlist {display: none;}</style>
    
        <div class="container">
            <div class="row align-items-start justify-content-between">
        
          
        
                <!-- Article -->
                <div class="col-lg-9">
                    <div class="main-content mt-1 mb-2">
                
                        <article>
                            
                                <div>
                                    <h1>{{ posts.sector_name }}</h1>
                                    <h5> {{ posts.type_of_climb }}</h5>
                                    <p>Last update: {{ posts.date }}</p>
                                    <br>
                                    {{ posts.content|safe }}
                                    <img src="{{ posts.image.url }}" alt="buena vibra picture" class="img-fluid rounded">
                                </div>
                                <div class="mt-3 mb-2">
                                    <h3>Routes & Topos</h3>
                                    <div class="table-responsive">
                                        
                                    <table class="table table-bordered table-hover text-center">
                                        <thead class="table-dark">
                                          <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Route</th>
                                            <th scope="col">Grade</th>
                                          </tr>
                                        </thead>
                                        <tbody class="text-center">
                                          {% for obj in routesinfo %}
                                           {% if obj.sector_name|stringformat:"s" == posts.sector_name|stringformat:"s" %}
                                          <tr>
                                            <th scope="row"><a href="{{ obj.get_absolute_url }}">{{ obj.order }}</a></th>
                                            <td><a href="{{ obj.get_absolute_url }}">{{ obj.route }}</a></td>
                                            <td><a href="{{ obj.get_absolute_url }}">{{ obj.grade }}</a></td>
                                          </tr>
                                           {% endif %}
                                          {% endfor %}
                                        </tbody>
                                      </table>
                                     
                                    </div>
                                </div>
                                <div class="mt-3">
                                {% if posts.guidebook == Null%}
                                <p></p>
                                {% else %}
                                {{ posts.guidebook|safe }}
                                {% endif %}
                                </div>
                        </article>
                    </div>
                </div>
        
        
        
                <!-- Disclaimer -->
                {% include 'sidebar_disclaimer.html' %}
        
        
        
        
            </div>
            <div class="row align-items-start justify-content-between">
                <div class="col-lg-9">
                    <div>
                        <img src="{% static 'images/feedback.png' %}" class="img-fluid w-100" alt="rock">
                    </div>
                    <div class="mt-3 mb-2 border-3 border-top">
                        <h3>Coments ({{ posts.commentsector.count}})</h3>
                        {% if request.user.is_authenticated %}
                        <form action="." method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form }}
                            <button type="submit">Comment</button>
                        </form>
                        {% else %}
                        <p>Login to leave a comment:</p>
                        <a href="{% url 'account_login' %}">Sign In</a>
                        <a href="{% url 'account_signup' %}">Login</a>
                        {% endif %}
                        <div>
                        {% if not posts.get_commentsector %}
                        <h5 class="mt-5 mb-5">No comments available.</h5>
                        {% else %}
                            {% for commentsector in posts.commentsector.all %}
                            <h5 class="mt-5">{{ commentsector.user }}</h5>
                            <h6>{{ commentsector.timestamp }} </h6>
                            <p>{{ commentsector.content }}</p>
                            {% endfor %}
                        {% endif %}
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    
{% endblock content %}    
