<div class="col-lg-3">
    <aside>
    <div class="mt-2 border border-secondary rounded">
        <h3 class="ms-2 me-1 ">Search the Blog</h3>
        <form action="{% url 'search' %}" class="search-form d-flex ms-2 me-1 mb-2">
            <input class="form-control me-2" name="q" type="text" placeholder="Search" aria-label="Search" required>
            <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
        </form>
    </div>

    <div class="mt-2 border border-secondary rounded">
    <h3 class="ms-2 me-1 ">Hashtags</h3>
    {% for cat in category_count %}
    <div class="d-flex justify-content-between ms-2 border-top">
        <p>{{ cat.categories__title }}</p<span>({{ cat.categories__title__count }})</span>
    </div>
    {% endfor %}
    </div>
    <div class="mt-4 text center">
    <form action="https://www.paypal.com/donate" method="post" target="_top">
        <input type="hidden" name="business" value="MXNVY957CEXMA" />
        <input type="hidden" name="no_recurring" value="0" />
        <input type="hidden" name="item_name" value="If you like the work please consider donating whatever sum you can afford to help me maintain the site and adventures!" />
        <input type="hidden" name="currency_code" value="USD" />
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
        <img alt="" border="0" src="https://www.paypal.com/en_PA/i/scr/pixel.gif" width="1" height="1" />
        </form>
    </div>   
    </aside>
</div>