<div class="col-lg-3">
    <article>
        <div class="card bg-warning bg-opacity-75 p-2">
            <div class="card-body">
                <h3 class="card-title text-danger">Disclaimer</h3>
                <p class="card-text fw-bold"> Rock climbing is a risky sport. Your safety should not depend on any
                    information from this article. The article has been prepared with the aim of offering in
                    general
                    the most rigorous and reliable information. However, the authors and editors do not
                    undertake to
                    ensure the accuracy of the information. Therefore, they do not assume responsibility for
                    accidents resulting from the use of this publication.</p>
            </div>
        </div>
        <div>
            <form action="https://www.paypal.com/donate" method="post" target="_top">
                <input type="hidden" name="business" value="MXNVY957CEXMA" />
                <input type="hidden" name="no_recurring" value="0" />
                <input type="hidden" name="item_name" value="If you like the work please consider donating whatever sum you can afford to help me maintain the site and adventures!" />
                <input type="hidden" name="currency_code" value="USD" />
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                <img alt="" border="0" src="https://www.paypal.com/en_PA/i/scr/pixel.gif" width="1" height="1" />
                </form>
                
        </div>
    </article>
</div>