<div class="col-lg-3">
    <article>
        <div class="card bg-warning bg-opacity-75 p-2">
            <div class="card-body">
                <h3 class="card-title text-danger">Disclaimer</h3>
                <p class="card-text fw-bold"> Rock climbing is a risky sport. Your safety should not depend on any
                    information from this article. The article has been prepared with the aim of offering in
                    general
                    the most rigorous and reliable information. However, the authors and editors do not
                    undertake to
                    ensure the accuracy of the information. Therefore, they do not assume responsibility for
                    accidents resulting from the use of this publication.</p>
            </div>
        </div>
    </article>
</div>